<a href="https://colab.research.google.com/github/cleifton/Data_Science/blob/master/Modelo%20PETR4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd 
import yfinance as yf 
import plotly.express as px
import plotly.io as pio

In [24]:
pio.renderers.default = "svg"

In [25]:
df = yf.Ticker('PETR4.SA')
petr4 = df.history(period='10y')
petr4

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2013-01-02 00:00:00-02:00,8.104966,8.194165,7.983331,7.983331,30182600,0.0,0.0
2013-01-03 00:00:00-02:00,8.031987,8.271203,7.987388,8.271203,30552600,0.0,0.0
2013-01-04 00:00:00-02:00,8.242820,8.360401,8.177948,8.283365,36141000,0.0,0.0
2013-01-07 00:00:00-02:00,8.303637,8.380673,8.088748,8.141457,28069600,0.0,0.0
2013-01-08 00:00:00-02:00,8.153621,8.202275,7.890077,7.906296,29091300,0.0,0.0
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-03:00,24.129999,25.219999,24.129999,25.120001,68387900,0.0,0.0
2022-12-26 00:00:00-03:00,25.120001,25.299999,24.820000,24.940001,28765200,0.0,0.0
2022-12-27 00:00:00-03:00,25.250000,25.309999,24.549999,25.110001,50803200,0.0,0.0
2022-12-28 00:00:00-03:00,25.100000,25.320000,24.750000,24.799999,57293500,0.0,0.0
2022-12-29 00:00:00-03:00,24.990000,25.049999,24.430000,24.500000,57901800,0.0,0.0

In [26]:
petr4 = petr4.drop(['Dividends','Stock Splits'], axis=1)
petr4

,Open,High,Low,Close,Volume
Date,,,,,
2013-01-02 00:00:00-02:00,8.104966,8.194165,7.983331,7.983331,30182600
2013-01-03 00:00:00-02:00,8.031987,8.271203,7.987388,8.271203,30552600
2013-01-04 00:00:00-02:00,8.242820,8.360401,8.177948,8.283365,36141000
2013-01-07 00:00:00-02:00,8.303637,8.380673,8.088748,8.141457,28069600
2013-01-08 00:00:00-02:00,8.153621,8.202275,7.890077,7.906296,29091300
...,...,...,...,...,...
2022-12-23 00:00:00-03:00,24.129999,25.219999,24.129999,25.120001,68387900
2022-12-26 00:00:00-03:00,25.120001,25.299999,24.820000,24.940001,28765200
2022-12-27 00:00:00-03:00,25.250000,25.309999,24.549999,25.110001,50803200
2022-12-28 00:00:00-03:00,25.100000,25.320000,24.750000,24.799999,57293500
2022-12-29 00:00:00-03:00,24.990000,25.049999,24.430000,24.500000,57901800

In [27]:
petr4['SMA9'] = petr4.Close.rolling(window=7).mean().round(2)
petr4['SMA21'] = petr4.Close.rolling(window=30).mean().round(2)
petr4

,Open,High,Low,Close,Volume,SMA9,SMA21
Date,,,,,,,
2013-01-02 00:00:00-02:00,8.104966,8.194165,7.983331,7.983331,30182600,NaN,NaN
2013-01-03 00:00:00-02:00,8.031987,8.271203,7.987388,8.271203,30552600,NaN,NaN
2013-01-04 00:00:00-02:00,8.242820,8.360401,8.177948,8.283365,36141000,NaN,NaN
2013-01-07 00:00:00-02:00,8.303637,8.380673,8.088748,8.141457,28069600,NaN,NaN
2013-01-08 00:00:00-02:00,8.153621,8.202275,7.890077,7.906296,29091300,NaN,NaN
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-03:00,24.129999,25.219999,24.129999,25.120001,68387900,23.17,24.07
2022-12-26 00:00:00-03:00,25.120001,25.299999,24.820000,24.940001,28765200,23.59,24.11
2022-12-27 00:00:00-03:00,25.250000,25.309999,24.549999,25.110001,50803200,24.03,24.14
2022-12-28 00:00:00-03:00,25.100000,25.320000,24.750000,24.799999,57293500,24.37,24.17
2022-12-29 00:00:00-03:00,24.990000,25.049999,24.430000,24.500000,57901800,24.58,24.20

In [28]:
petr4_predict = petr4.tail(253)
petr4_predict

,Open,High,Low,Close,Volume,SMA9,SMA21
Date,,,,,,,
2021-12-28 00:00:00-03:00,16.953554,17.111343,16.772389,16.819141,30688100,16.64,15.96
2021-12-29 00:00:00-03:00,16.772389,16.889269,16.608756,16.678885,35508400,16.61,16.04
2021-12-30 00:00:00-03:00,16.684729,16.772390,16.591224,16.626289,43229100,16.63,16.14
2022-01-03 00:00:00-03:00,16.678884,17.076277,16.673039,17.000305,52704700,16.71,16.24
2022-01-04 00:00:00-03:00,17.041214,17.181471,16.895113,17.064590,51739200,16.79,16.36
...,...,...,...,...,...,...,...
2022-12-23 00:00:00-03:00,24.129999,25.219999,24.129999,25.120001,68387900,23.17,24.07
2022-12-26 00:00:00-03:00,25.120001,25.299999,24.820000,24.940001,28765200,23.59,24.11
2022-12-27 00:00:00-03:00,25.250000,25.309999,24.549999,25.110001,50803200,24.03,24.14
2022-12-28 00:00:00-03:00,25.100000,25.320000,24.750000,24.799999,57293500,24.37,24.17
2022-12-29 00:00:00-03:00,24.990000,25.049999,24.430000,24.500000,57901800,24.58,24.20

In [29]:
petr4.drop(petr4.tail(253).index, inplace=True)
petr4

,Open,High,Low,Close,Volume,SMA9,SMA21
Date,,,,,,,
2013-01-02 00:00:00-02:00,8.104966,8.194165,7.983331,7.983331,30182600,NaN,NaN
2013-01-03 00:00:00-02:00,8.031987,8.271203,7.987388,8.271203,30552600,NaN,NaN
2013-01-04 00:00:00-02:00,8.242820,8.360401,8.177948,8.283365,36141000,NaN,NaN
2013-01-07 00:00:00-02:00,8.303637,8.380673,8.088748,8.141457,28069600,NaN,NaN
2013-01-08 00:00:00-02:00,8.153621,8.202275,7.890077,7.906296,29091300,NaN,NaN
...,...,...,...,...,...,...,...
2021-12-20 00:00:00-03:00,16.620443,16.684727,16.176296,16.456810,106282500,17.06,15.49
2021-12-21 00:00:00-03:00,16.684729,16.784078,16.433436,16.480188,40454500,16.94,15.59
2021-12-22 00:00:00-03:00,16.597067,16.597067,16.345773,16.456810,33734500,16.83,15.67
2021-12-23 00:00:00-03:00,16.556160,16.608756,16.450967,16.556160,28713600,16.77,15.77
2021-12-27 00:00:00-03:00,16.550313,16.819140,16.450965,16.801607,44227900,16.72,15.87

In [30]:
petr4.dropna(inplace=True)
petr4

,Open,High,Low,Close,Volume,SMA9,SMA21
Date,,,,,,,
2013-02-15 00:00:00-02:00,7.139994,7.212976,7.107558,7.148103,25001600,7.18,7.72
2013-02-18 00:00:00-03:00,7.152155,7.277846,7.103502,7.257573,20291600,7.17,7.70
2013-02-19 00:00:00-03:00,7.261627,7.371099,7.253518,7.338663,28822000,7.20,7.67
2013-02-20 00:00:00-03:00,7.338663,7.338663,7.115665,7.144047,25939500,7.21,7.63
2013-02-21 00:00:00-03:00,7.083230,7.123775,6.973759,7.022412,30382300,7.18,7.59
...,...,...,...,...,...,...,...
2021-12-20 00:00:00-03:00,16.620443,16.684727,16.176296,16.456810,106282500,17.06,15.49
2021-12-21 00:00:00-03:00,16.684729,16.784078,16.433436,16.480188,40454500,16.94,15.59
2021-12-22 00:00:00-03:00,16.597067,16.597067,16.345773,16.456810,33734500,16.83,15.67
2021-12-23 00:00:00-03:00,16.556160,16.608756,16.450967,16.556160,28713600,16.77,15.77
2021-12-27 00:00:00-03:00,16.550313,16.819140,16.450965,16.801607,44227900,16.72,15.87

In [31]:
petr4.reset_index(drop=True, inplace=True)
petr4_predict.reset_index(drop=True, inplace=True)

In [32]:
petr4

           Open       High        Low      Close     Volume   SMA9  SMA21
0      7.139994   7.212976   7.107558   7.148103   25001600   7.18   7.72
1      7.152155   7.277846   7.103502   7.257573   20291600   7.17   7.70
2      7.261627   7.371099   7.253518   7.338663   28822000   7.20   7.67
3      7.338663   7.338663   7.115665   7.144047   25939500   7.21   7.63
4      7.083230   7.123775   6.973759   7.022412   30382300   7.18   7.59
...         ...        ...        ...        ...        ...    ...    ...
2197  16.620443  16.684727  16.176296  16.456810  106282500  17.06  15.49
2198  16.684729  16.784078  16.433436  16.480188   40454500  16.94  15.59
2199  16.597067  16.597067  16.345773  16.456810   33734500  16.83  15.67
2200  16.556160  16.608756  16.450967  16.556160   28713600  16.77  15.77
2201  16.550313  16.819140  16.450965  16.801607   44227900  16.72  15.87

[2202 rows x 7 columns]

In [33]:
petr4.corr()

            Open      High       Low     Close    Volume      SMA9     SMA21
Open    1.000000  0.999329  0.999131  0.998396  0.147132  0.995897  0.969504
High    0.999329  1.000000  0.998905  0.999169  0.159619  0.995711  0.970129
Low     0.999131  0.998905  1.000000  0.999258  0.131804  0.994596  0.966664
Close   0.998396  0.999169  0.999258  1.000000  0.145099  0.994505  0.967585
Volume  0.147132  0.159619  0.131804  0.145099  1.000000  0.160585  0.189431
SMA9    0.995897  0.995711  0.994596  0.994505  0.160585  1.000000  0.979206
SMA21   0.969504  0.970129  0.966664  0.967585  0.189431  0.979206  1.000000

In [34]:
from pycaret.regression import *

In [ ]:
setup(data = petr4, target = 'Close', session_id=123, remove_perfect_collinearity = False)

INFO:logs:PyCaret Supervised Module
INFO:logs:ML Usecase: regression
INFO:logs:version 2.3.10
INFO:logs:Initializing setup()
INFO:logs:setup(target=Close, ml_usecase=regression, available_plots={'parameter': 'Hyperparameters', 'residuals': 'Residuals', 'error': 'Prediction Error', 'cooks': 'Cooks Distance', 'rfe': 'Feature Selection', 'learning': 'Learning Curve', 'manifold': 'Manifold Learning', 'vc': 'Validation Curve', 'feature': 'Feature Importance', 'feature_all': 'Feature Importance (All)', 'tree': 'Decision Tree', 'residuals_interactive': 'Interactive Residuals'}, train_size=0.7, test_data=None, preprocess=True, imputation_type=simple, iterative_imputation_iters=5, categorical_features=None, categorical_imputation=constant, categorical_iterative_imputer=lightgbm, ordinal_features=None, high_cardinality_features=None, high_cardinality_method=frequency, numeric_features=None, numeric_imputation=mean, numeric_iterative_imputer=lightgbm, date_features=None, ignore_features=None, normalize=False, normalize_method=zscore, transformation=False, transformation_method=yeo-johnson, handle_unknown_categorical=True, unknown_categorical_method=least_frequent, pca=False, pca_method=linear, pca_components=None, ignore_low_variance=False, combine_rare_levels=False, rare_level_threshold=0.1, bin_numeric_features=None, remove_outliers=False, outliers_threshold=0.05, remove_multicollinearity=False, multicollinearity_threshold=0.9, remove_perfect_collinearity=False, create_clusters=False, cluster_iter=20, polynomial_features=False, polynomial_degree=2, trigonometry_features=False, polynomial_threshold=0.1, group_features=None, group_names=None, feature_selection=False, feature_selection_threshold=0.8, feature_selection_method=classic, feature_interaction=False, feature_ratio=False, interaction_threshold=0.01, fix_imbalance=False, fix_imbalance_method=None, transform_target=False, transform_target_method=box-cox, data_split_shuffle=True, data_split_stratify=False, fold_strategy=kfold, fold=10, fold_shuffle=False, fold_groups=None, n_jobs=-1, use_gpu=False, custom_pipeline=None, html=True, session_id=123, log_experiment=False, experiment_name=None, experiment_custom_tags=None, log_plots=False, log_profile=False, log_data=False, silent=False, verbose=True, profile=False, profile_kwargs=None, display=None)
INFO:logs:Checking environment
INFO:logs:python_version: 3.8.16
INFO:logs:python_build: ('default', 'Dec  7 2022 01:12:13')
INFO:logs:machine: x86_64
INFO:logs:platform: Linux-5.10.133+-x86_64-with-glibc2.27
INFO:logs:Memory: svmem(total=13616361472, available=11952439296, percent=12.2, used=1449299968, free=8755503104, active=924409856, inactive=3595345920, buffers=123285504, cached=3288272896, shared=1191936, slab=255848448)
INFO:logs:Physical Core: 1
INFO:logs:Logical Core: 2
INFO:logs:Checking libraries
INFO:logs:pd==1.3.5
INFO:logs:numpy==1.19.5
INFO:logs:sklearn==0.23.2
INFO:logs:lightgbm==3.3.3
WARNING:logs:catboost not found
INFO:logs:xgboost==0.90
INFO:logs:mlflow==2.1.1
INFO:logs:Checking Exceptions
INFO:logs:Declaring global variables
INFO:logs:USI: c858
INFO:logs:pycaret_globals: {'logging_param', 'fix_imbalance_method_param', 'create_model_container', 'y_test', 'target_param', 'log_plots_param', '_all_models_internal', 'imputation_classifier', 'fold_shuffle_param', 'transform_target_param', 'X', 'dashboard_logger', 'X_test', 'exp_name_log', 'master_model_container', '_available_plots', 'seed', 'n_jobs_param', '_all_models', '_all_metrics', 'imputation_regressor', 'fold_groups_param', 'experiment__', 'display_container', 'pycaret_globals', 'y_train', 'y', '_internal_pipeline', '_gpu_n_jobs_param', 'html_param', 'data_before_preprocess', 'transform_target_method_param', 'iterative_imputation_iters_param', 'fold_param', 'USI', 'gpu_param', 'fold_generator', 'X_train', 'fold_groups_param_full', 'stratify_param', '_ml_usecase', 'prep_pipe', 'fix_imbalance_param'}
INFO:logs:Preparing display monitor
INFO:logs:Preparing display monitor

IntProgress(value=0, description='Processing: ', max=3)

Initiated  . . . . . . . . . . . . . . . . . .            19:45:17
Status     . . . . . . . . . . . . . . . . . .  Preprocessing Data

INFO:logs:Importing libraries
INFO:logs:Copying data for preprocessing
INFO:logs:Declaring preprocessing parameters
INFO:logs:Creating preprocessing pipeline
INFO:logs:Preprocessing pipeline created successfully
ERROR:logs:(Process Exit): setup has been interupted with user command 'quit'. setup must rerun.
INFO:logs:Creating global containers
INFO:logs:Internal pipeline: Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False)

Text(value="Following data types have been inferred automatically, if they are correct press enter to continueâ€¦

       Data Type
Open     Numeric
High     Numeric
Low      Numeric
Volume   Numeric
SMA9     Numeric
SMA21    Numeric
Close      Label

In [ ]:
top3 = compare_models(n_select=3)

In [ ]:
br = create_model('br', fold=10)

In [ ]:
ridge = create_model('ridge', fold=10)

In [ ]:
lar = create_model('lar', fold=10)

In [ ]:
params = {'alpha': [0.02, 0.024, 0.025, 0.026, 0.03]}
tune_ridge = tune_model(ridge, n_iter=1000, optimize = 'RMSE', custom_grid = params)

In [ ]:
tune_lar = tune_model(lar, n_iter=1000, optimize = 'RMSE')

In [ ]:
plot_model(tune_br, plot='error')

In [ ]:
plot_model(tune_br, plot='feature')

In [ ]:
predict_model(tune_br)

In [ ]:
final_br_model = finalize_model(tune_br)

In [ ]:
#Prevendo aÃ§Ã£o ultimos 253 dias
prev = predict_model(final_br_model, data = petr4_predict)
prev[['Close','Label']].round(2)

In [ ]:
fig = px.line(round(prev[['Close','Label']], 2), 
              x = round(prev[['Close','Label']], 2).index, 
              y = ['Close','Label'],
             title = 'PreÃ§o fechamento x preÃ§o previsto de PETR4 entre 01/06/2021 e 06/06/2021',
             width = 1500, height = 1000)
newnames = {'Close':'PreÃ§o fechamento', 'Label': 'PreÃ§o previsto'}
fig.for_each_trace(lambda t: t.update(name = newnames[t.name],
                                      legendgroup = newnames[t.name],
                                      hovertemplate = t.hovertemplate.replace(t.name, newnames[t.name])
                                     )
                  )
fig.show()